<% form_for(obj) do |f| %>
  <%= f.error_messages %>
  <%= link_to_function 'cancel', "toggle('#{div}')", :class => 'admin_link', :style => 'float: right' %>
  
  <h4>Title:</h4>
  <%= f.text_field :title %>
  
  <h4>Content:</h4>
  <%= f.text_area :content, :rows => 30, :cols => 80, :style => "display: none" %>
  
  <h4>Tags:</h4>
  <%= f.text_field :tag_list, :size => 90 %>
  
  <%= f.submit "Save" %>
<% end %>