<% form_for(obj) do |f| %>
  <%= f.error_messages %>
  <%= link_to_function 'cancel', "toggle('#{div}')", :class => 'admin_link', :style => 'float: right' %>
  
  <label>Title:</label>
  <%= f.text_field :title %>
  
  <label>Content:</label>
  <%= f.text_area :content, :rows => 30, :cols => 80 %>
  
  <label>Tags:</label>
  <%= f.text_field :tag_list, :size => 90 %>
  
  <%= f.submit "Save" %>
<% end %>