- form_for(obj, :html => { :multipart => true }) do |f|
  = f.error_messages
  = link_to_function 'cancel', "toggle('#{div}'#{defined?(div2) ? ", '#{div2}'" : ''})", :class => 'admin_link', :style => 'float: right'
  %h4 URL:
  %p= f.text_field :url
  %h4 Title:
  %p= f.text_field :title
  %h4 Category:
  %p= f.text_field :category
  %h4 Description:
  %p= f.text_area :description, :rows => 30, :cols => 80
  %h4 Image:
  %p= file_field_tag("link[attachable][0][uploaded_data]", :size => 60)
  = f.submit "Save"
