<% if_authorized? do %>
  <script type = "text/javascript">
    function toggle(div, div2) {
      $('#' + div).toggle();
      if (div2 != null) {
        $('#' + div2).toggle();
      }
      sifrize();
    }
  </script>
<% end %>

<style type = "text/css">
  .link_column {
    width: 50%;
    float: left;
  }
  
  .category_head {
    margin-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid black;
  }
  
  .link {
    padding-bottom: 30px;
  }
  
  .link p {
    margin: 0px;
    padding-left: 3px;
  }
  
  .link_category {
    width: 100%;
    float: left;
  }
</style>

<div class="main_content">
  <% if_authorized? do %>
    <%= link_to_function 'create', "toggle('link_create')", :class => 'admin_link' %>
    <div id = "link_create" class = "main_content" style = "display: none">
      <%= render :partial => 'form', :locals => { :obj => Link.new, :div => 'link_create' } %>
    </div>
    <div class = "clear"></div>
  <% end %>
  
  <h3 class = "category_head"><%= (@category || '').titleize %> Links</h3>
  <div class = "clear"></div>
  <% mid = (@links.size / 2.0).ceil %>
  <% [@links[0..mid - 1], @links.size == 1 ? [] : @links[mid .. @links.size - 1] ].each do |link_array| %>
    <div class = "link_column">
      <% link_array.each do |link| %>
        <div class = "link" id = "link_display_<%= link.id %>">
          <% if link.link_photo %>
            <%= link_to(image_tag(link.link_photo.public_filename, :alt => link.title), link.url) %>
          <% else %>
            <h4><%= link_to(link.title, link.url) %></h4>
          <% end %>
          
          <% if_authorized? do %>
            <div class = "clear"></div>
            <%= link_to_function 'edit', "toggle('link_edit_#{link.id}', 'link_display_#{link.id}')", :class => 'admin_link' %>
            <%= link_to 'delete', link_path(link), :method => :delete, :confirm => 'Are you sure?', :class => 'admin_link' %>
          <% end %>
          <%= markdown(link.description) %>
          <div class = "clear"></div>
        </div>
        <% if_authorized? do %>
          <div id = "link_edit_<%= link.id %>" style = "display: none">
            <%= render :partial => 'form', :locals => { :obj => link, :div => "link_edit_#{link.id}", :div2 => "link_display_#{link.id}" } %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<% content_for :widgets do %>
  <%= render :partial => 'widgets' %>
<% end %>