<% partitioned_gallery = [] %>
<% (0..album.size - 1).step(5) {|i| partitioned_gallery.push(album.photos[i..i + 4]) } %>

<% partitioned_gallery.each_with_index do |row, i| %>
  <div class = "thumbs" id ="thumbs_row_<%= i %>" <%= i >= num_image_rows ? 'style = "display: none"' : '' %>>
    <% row.each do |photo| %>
      <div class = "gallery_image" rel = "<%= photo.id %>">
        <%= image_tag(photo.thumb_url, :width => photo.thumb_width, :height => photo.thumb_height) %>
      </div>
    <% end %>
  </div>
<% end %>

<script type = "text/javascript">
  $(function() {
    // Hide top and bottom nav arrows if we don't need them.
    $('#forward_images').<%= partitioned_gallery.size <= num_image_rows ? 'fadeOut' : 'fadeIn' %>("slow");
    $('#back_images').<%= partitioned_gallery.size <= num_image_rows ? 'fadeOut' : 'fadeIn' %>("slow");
    
    // Center the thumbnails vertically in their container.
    $('.gallery_image').each(function() {
      $(this).find('img').css('margin-top', (parseInt($(this).css('height')) - $(this).find('img').attr('height')) / 2);
    });

    // Select the first image in the gallery.
    $('.gallery_image:first').click();
    
    // Reset our position in the gallery to what is visible on first load.
    image_row_first = 0;
    image_row_last = <%= num_image_rows - 1 %>;
  });
</script>