<% if album %>
  <% partitioned_gallery = [] %>
  <% (0..album.size - 1).step(5) {|i| partitioned_gallery.push(album.photos.sort{|a, b| (a.position || 0) <=> (b.position || 0) }[i..i + 4]) } %>

  <% partitioned_gallery.each_with_index do |row, i| %>
    <div class = "thumbs" id ="thumbs_row_<%= i %>" <%= i >= num_image_rows ? 'style = "display: none"' : '' %>>
      <% row.each do |photo| %>
        <div class = "gallery_image" rel = "<%= photo.id %>">
          <%= image_tag(
            photo.thumb_url,
            :width  => photo.thumb_width,
            :height => photo.thumb_height,
            :style  => "height: #{photo.thumb_height}px; width: #{photo.thumb_width}px"
          ) %>
        </div>

        <div id = "photo_filename_<%= photo.id %>" style = "display: none"><%= photo.public_filename %></div>
        <div id = "photo_height_<%= photo.id %>" style = "display: none"><%= photo.height %></div>
        <div id = "photo_width_<%= photo.id %>" style = "display: none"><%= photo.width %></div>

        <div id = "photo_data_<%= photo.id %>" style = "display: none">
          <% if photo.title %>
            <h3><%= photo.title %></h3>
          <% end %>
          <% if photo.description %>
            <h4><%= photo.description %></h4>
          <% end %>

          <div class = "file_info">
            file: <strong><%= photo.filename %> (<%= photo.size %>)</strong>
          </div>

          <div class = "date_info">
            <% if photo.tag('CreateDate') %>taken: <strong><%= photo.tag('CreateDate') %></strong><br /><% end %>
          </div>

          <div class = "exif">  
            <ul>
              <% if photo.tag('Model') %><li><strong>model: <%= photo.tag('Model') %></strong></li><% end %>
            </ul>
            <ul>  
              <% if photo.tag('Aperture') %><li>aperture: <strong><%= photo.tag('Aperture') %></strong></li><% end %>
              <% if photo.tag('FocalLength') %><li>focal length: <strong><%= photo.tag('FocalLength') %></strong></li><% end %>
              <% if photo.tag('ISO') %><li>iso: <strong><%= photo.tag('ISO') %></strong></li><% end %>
              <% if photo.tag('ShutterSpeed') %><li>shutter: <strong><%= photo.tag('ShutterSpeed') %></strong></li><% end %>
              <% if photo.tag('Flash') %><li>flash: <strong><%= photo.tag('Flash') %></strong></li><% end %>
              <% if photo.tag('MeteringMode') %><li>metering: <strong><%= photo.tag('MeteringMode') %></strong></li><% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  
    <div class = "clear"></div>
  <% end %>

  <script type = "text/javascript">
    $(function() {
      num_image_rows = <%= partitioned_gallery.size %>;
    
      // Hide top and bottom nav arrows if we don't need them.
      $('#forward_images').<%= partitioned_gallery.size <= num_image_rows ? 'fadeOut' : 'fadeIn' %>("slow");
      $('#back_images').<%= partitioned_gallery.size <= num_image_rows ? 'fadeOut' : 'fadeIn' %>("slow");
    
      // Reset top/bottom arrows to the proper state for greyed out / not greyed
      $('#back_images').css('background-color', '#DDDDDD');
      $('#back_images').find('img').fadeOut();
      $('#forward_images').css('background-color', 'white');
      $('#forward_images').find('img').fadeIn();
    
      // Center the thumbnails vertically in their container.
      $('.gallery_image').each(function() {
        $(this).find('img').css('margin-top', (parseInt($(this).css('height')) - parseInt($(this).find('img').css('height'))) / 2);
      });

      // Select the first image in the gallery.
      $('.gallery_image:first').click();
    
      // Reset our position in the gallery to what is visible on first load.
      image_row_first = 0;
      image_row_last = <%= num_image_rows - 1 %>;
    });
  </script>
<% end %>