- content_for :head do
  = javascript_include_tag 'gallery'

.album_nav{'data-size' => @albums.size}
  .albums
    #back_album.arrows
      %img{:alt => "top", :src => "/images/arrow_top.png", :style => "display: none"}
    - @albums.each_with_index do |album, i|
      .album_data{:id => "album_#{i}", :style => i >= 4 ? 'display: none' : ''}    
        %a.album_link{:href => "#", :rel => album.id}= image_tag(album.cover_photo_url)
        %h4
          = album.name
          - if user_signed_in?
            .admin_links
              = link_to 'edit',   edit_album_path(album)
              \&nbsp;&nbsp;
              = link_to 'delete', album_path(album), :method => :delete, :confirm => 'Are you sure?'
        %h5
          = album.date
          %br/
          = album.size
          image#{album.size == 1 ? '' : 's'}
    #forward_album.arrows.no_border
      %img{:alt => "bottom", :src => "/images/arrow_bottom.png"}/
      
.thumb_wrapper
  #back_images.thumb_arrows{:style => "display: none"}
    %img{:alt => "top", :src => "/images/arrow_top.png"}/
  #thumb_area
    = render :partial => 'album', :object => @albums.first, :locals => { :num_image_rows => 4 }
  #forward_images.thumb_arrows{:style => "display: none"}
    %img{:alt => "bottom", :src => "/images/arrow_bottom.png"}/
.pictures
  #image_loading{:style => "display: none"}= image_tag('gallery-loading.gif')
  #picture
    - if @albums.first && @albums.first.photos.first
      = image_tag(@albums.first.photos.first.public_filename)
- if user_signed_in?
  .clear
  .new_album_link
    = link_to('Create New Album', new_album_path)