<% num_albums_at_once = 4 %>
<% num_image_rows_at_once = 4 %>

<script type = "text/javascript">
  var num_albums = <%= @albums.size %>;
  var num_albums_at_once = <%= num_albums_at_once %>;
  var album_first = 0;
  var album_last = <%= num_albums_at_once - 1 %>;
  
  var num_image_rows = 6;
  var num_image_rows_at_once = <%= num_image_rows_at_once %>;
  var image_row_first = 0;
  var image_row_last = <%= num_image_rows_at_once - 1 %>;
  
  $(document).ready(function() {
    $('#back_album').click(function() {
      if (album_first == 1) {
        $('#back_album').css('background-color', '#DDDDDD');
        $('#back_album').find('img').fadeOut();
      }
      
      if (num_albums <= num_albums_at_once || album_first == 0) {
        return;
      }
      
      $(this).effect("highlight", { color: 'orange' }, 300);
      
      $('#forward_album').css('background-color', 'white');
      $('#forward_album').find('img').fadeIn();
      
      $('#album_' + album_last).slideToggle('fast');
      album_last--; album_first--;
      $('#album_' + album_first).slideToggle('fast');
    });
    
    $('#forward_album').click(function() {
      if (album_last == num_albums -2) {
        $('#forward_album').css('background-color', '#DDDDDD');
        $('#forward_album').find('img').fadeOut();
      }
      
      if (num_albums <= num_albums_at_once || album_last == num_albums - 1) {
        return;
      }
      
      $(this).effect("highlight", { color: 'orange' }, 300);
      
      $('#back_album').css('background-color', 'white');
      $('#back_album').find('img').fadeIn();
      
      $('#album_' + album_first).slideToggle('fast');
      album_last++; album_first++;
      $('#album_' + album_last).slideToggle('fast');
    });
    
    $('#back_images').click(function() {
      $(this).effect("highlight", { color: 'orange' }, 300);
      
      if (num_image_rows <= num_image_rows_at_once || image_row_first == 0) {
        return;
      }
      
      $('#thumbs_row_' + image_row_last).slideToggle('fast');
      image_row_last--; image_row_first--;
      $('#thumbs_row_' + image_row_first).slideToggle('fast');
    });
    
    $('#forward_images').click(function() {
      $(this).effect("highlight", { color: 'orange' }, 300);
      if (num_image_rows <= num_image_rows_at_once || image_row_last == num_image_rows - 1) {
        return;
      }
      $('#thumbs_row_' + image_row_first).slideToggle('fast');
      image_row_last++; image_row_first++;
      $('#thumbs_row_' + image_row_last).slideToggle('fast');
    });
    
    
    $('.album_link').click(function() {
      $('.album_link').find('img').css('opacity', 1);
      $(this).find('img').css('opacity', 0.5);
      <%= remote_function(
        :url  => { :action => 'album' },
        :with => "'num_image_rows=#{num_image_rows_at_once}&id=' + $(this).attr('rel')",
        :update => :thumb_area
      ) %>
    });
    
    $('.gallery_image').live('click', function() {
      $('.gallery_image').css('border', '0px').css('background-color', '#CCCCCC');
      $('.gallery_image').find('img').css('opacity', 1);
      $(this).css('border', '1px solid black').css('background-color', 'white');
      $(this).find('img').css('opacity', 0.5);
      <%= remote_function(
        :url    => { :action => 'photo' },
        :update => :picture,
        :with   => "'id=' + $(this).attr('rel')"
      ) %>
    });
    
    $('#back_album').css('background-color', '#DDDDDD');
    
    if (num_albums <= num_albums_at_once) {
      $('#forward_album').css('background-color', '#DDDDDD');
      $('#forward_album').find('img').fadeOut();
    }
  });
</script>

<div class="album_nav"> 
  <div class="albums">
    <div class="arrows" id = "back_album">
      <img src="/images/arrow_top.png" alt="top" style = "display: none" />
    </div>
    
    <% @albums.each_with_index do |album, i| %>
      <div class="album_data" id = "album_<%= i %>" <%= i >= num_albums_at_once ? 'style = "display: none"' : '' %> >
        <a href = "#" class = "album_link" rel = "<%= album.id %>"><%= image_tag(album.cover_photo_url) %></a>
        <h4><%= album.name %></h4>
        <h5><%= album.date %><br /><%= album.size %> image<%= album.size == 1 ? '' : 's' %></h5>      
      </div>
    <% end %>
    
    <div class="arrows no_border" id = "forward_album">
      <img src="/images/arrow_bottom.png" alt="bottom" />
    </div>
  </div>

  <div class="thumb_wrapper">
    <div class="thumb_arrows" id = "back_images" style = "display: none">
      <img src="/images/arrow_top.png" alt="top" />
    </div>
    <div id = "thumb_area">
      <%= render :partial => 'album', :object => @albums.first, :locals => { :num_image_rows => num_image_rows_at_once } %>
    </div>
    <div class="thumb_arrows" id = "forward_images" style = "display: none">
      <img src="/images/arrow_bottom.png" alt="bottom" />
    </div>
  </div>
</div>

<div class="pictures" id = "picture">
  <% if @albums.first.photos.first %>
    <%= image_tag(@albums.first.photos.first.public_filename) %>
  <% end %>
</div>