<% num_albums_at_once = 4 %>
<% num_image_rows_at_once = 4 %>

<script type = "text/javascript">
  var num_albums = <%= @albums.size %>;
  var num_albums_at_once = <%= num_albums_at_once %>;
  var album_first = 0;
  var album_last = <%= num_albums_at_once - 1 %>;
  
  var num_image_rows = 6;
  var num_image_rows_at_once = <%= num_image_rows_at_once %>;
  var image_row_first = 0;
  var image_row_last = <%= num_image_rows_at_once - 1 %>;
  
  $(document).ready(function() {
    $('#back_album').click(function() {
      $(this).effect("highlight", { color: 'orange' }, 300);
      
      if (num_albums <= num_albums_at_once || album_first == 0) {
        return;
      }
      $('#album_' + album_last).slideToggle('slow');
      album_last--; album_first--;
      $('#album_' + album_first).slideToggle('slow');
    });
    
    $('#forward_album').click(function() {
      $(this).effect("highlight", { color: 'orange' }, 300);
      if (num_albums <= num_albums_at_once || album_last == num_albums - 1) {
        return;
      }
      $('#album_' + album_first).slideToggle('slow');
      album_last++; album_first++;
      $('#album_' + album_last).slideToggle('slow');
    });
    
    $('#back_images').click(function() {
      $(this).effect("highlight", { color: 'orange' }, 300);
      
      if (num_image_rows <= num_image_rows_at_once || image_row_first == 0) {
        return;
      }
      $('#thumbs_row_' + image_row_last).slideToggle('slow');
      image_row_last--; image_row_first--;
      $('#thumbs_row_' + image_row_first).slideToggle('slow');
    });
    
    $('#forward_images').click(function() {
      $(this).effect("highlight", { color: 'orange' }, 300);
      if (num_image_rows <= num_image_rows_at_once || image_row_last == num_image_rows - 1) {
        return;
      }
      $('#thumbs_row_' + image_row_first).slideToggle('slow');
      image_row_last++; image_row_first++;
      $('#thumbs_row_' + image_row_last).slideToggle('slow');
    });
  });
</script>

<div class="album_nav"> 
  <div class="albums">
    <div class="arrows" id = "back_album">
      <img src="/images/arrow_top.jpg" alt="top" />
    </div>
    
    <% @albums.each_with_index do |album, i| %>
      <div class="album_data" id = "album_<%= i %>" <%= i >= num_albums_at_once ? 'style = "display: none"' : '' %>>
        <a href="#"><img src="/images/album_cover.jpg" alt="cover" /></a>
        <h4><%= album.name %></h4>
        <h5><%= album.date %><br /><%= album.size %> image<%= album.size == 1 ? '' : 's' %></h5>      
      </div>    
    <% end %>
    
    <div class="arrows no_border" id = "forward_album">
      <img src="/images/arrow_bottom.jpg" alt="bottom" />
    </div>
  </div>

  <div class="thumb_wrapper">
    <div class="thumb_arrows" id = "back_images"><img src="/images/arrow_top.jpg" alt="top" /></div>
    <div id = "thumb_area">
      <%= render :partial => 'album', :object => @albums.first %>
    </div>
    <div class="thumb_arrows" id = "forward_images"><img src="/images/arrow_bottom.jpg" alt="bottom" /></div>
  </div>
</div>

<div class="pictures">
  <img src="/images/toby.jpg" alt="toby" />
</div>