<% plugs = [ 'liz', 'mally', 'kates', 'kimara', 'lucky', 'indagare', 'amazon', 'ibm', 'kanetix', 'weatheroffice', 'jonsonia' ] %>

<script type = "text/javascript">
  function PlugThumbs(options) {
    options = $.extend({ per_row: 4, visible_rows: 3 }, options);
    this.per_row = options.per_row;
    this.visible_rows = options.visible_rows;
    this.visible = true;
    this.thumbs = new Array();
    this.current_thumb = null;
    
    this.add = function(plug_thumb) {
      this.thumbs[plug_thumb.num] = plug_thumb;
    };
    this.get = function(num) {
      return this.thumbs[num];
    };
    this.fadeThumbs = function(except) {
      this.current_thumb = except;
      this.visible = false;
      this.to_fade = new Array();
      this.to_fade_index = 0;
      for (var i = 0; i < $('.thumb_holder').size(); i++) {
        if (parseInt(except.attr('rel')) != i) {
          this.to_fade.push(i);
        }
      }
      this.to_fade.sort(function() { return (Math.round(Math.random()) - 0.5) });
      this.randomFade($('#plug_' + this.to_fade[this.to_fade_index]));
    };
    this.randomFade = function(thumb) {
      self = this
      var j = parseInt(thumb.attr('rel'));
      thumb.fadeOut(100, function() {
        self.to_fade_index++;
        if (self.to_fade_index < self.to_fade.length) {
          self.randomFade($('#plug_' + self.to_fade[self.to_fade_index]));
        } else {
          self.slideThumbAndOpenPlug();
        }
      });
    };
    this.slideThumbAndOpenPlug = function() {
      thumb = this.current_thumb
      thumb.find('img').attr('src', '/images/thumb_large_ibm.jpg');
      thumb.animate({ left: 17, top: 27}, 2000, function() {
        thumb.find('img').animate({ height: 300, width: 500 }, 'medium', function() {
          $('.plug').fadeIn('slow', function() {
            sifr_plugs();
            $('.plug_text').fadeIn('slow', function() { $('.plug_link_holder').fadeIn('slow', function() { $('.close').fadeIn('slow'); }); });
          });
        });
      });
    };
    this.closePlugAndRevertThumb = function() {
      self = this
      $('.plug').fadeOut('slow', function() {
        var thumb = self.get(parseInt(self.current_thumb.attr('rel')));
        self.current_thumb.find('img').animate({ height: thumb.img_height, width: thumb.img_width }, 'medium', function() {
          self.current_thumb.animate({ left: thumb.thumb_left, top: thumb.thumb_top }, 2000, function() {
            $('.thumb_holder').fadeIn('fast');
            self.visible = true;
          });
        });
      });
    };
  }
  
  function PlugThumb(thumbs, obj) {
    this.obj = obj;
    this.num = parseInt(obj.attr('rel'));
    this.col = this.num % thumbs.per_row;
    this.row = (this.num - (this.num % thumbs.per_row)) / thumbs.per_row;
    this.img_height = parseInt(obj.find('img').css('height'));
    this.img_width  = parseInt(obj.find('img').css('width'));
    this.thumb_top  = (parseInt(obj.css('height')) - 1) * this.row;
    this.thumb_left = (parseInt(obj.css('width')) - 1) * this.col;
    
    this.freeze = function() {
      this.obj.css('position', 'absolute').css('top', this.thumb_top).css('left', this.thumb_left);
    }
  }

  var thumbs = new PlugThumbs();
  
  $(function() {
    // Initialize thumbs
    $('.thumb_holder').each(function() {
      var thumb = new PlugThumb(thumbs, $(this));
      thumbs.add(thumb);
      thumb.freeze();
    });
    
    $('.thumb_holder').click(function(e) {
      if (!thumbs.visible) {
        return;
      }
      thumbs.fadeThumbs($(this))
      e.preventDefault();
    });
    
    $('.thumb_holder').hover(
      function() {
        if (!thumbs.visible) {
          return;
        }
        $(this).find('.plug_title_overlay').slideToggle('fast', function() {
          $(this).find('span').fadeIn('fast');
        });
      },
      function() {
        if (!thumbs.visible) {
          $(this).find('span').hide();
          $(this).find('.plug_title_overlay').hide();
          return;
        }
        $(this).find('span').fadeOut('fast', function() {
          $(this).parents('.plug_title_overlay').slideToggle('fast');
        });
      }
    );
    
    $('.close').click(function(e) {
      thumbs.closePlugAndRevertThumb();
      e.preventDefault();
    });
    
  });
</script>

<div class = "plugs_content">
   <div class = "plug_thumb_wrapper">
    <% plugs.each_with_index do |plug, i| %>
      <div class="thumb_holder" id = "plug_<%= i %>" rel = "<%= i %>">
        <%= link_to(image_tag("thumb_#{plug}.jpg"), '#') %>
        <div class = "plug_title_overlay">
          <span style = "display: none"><%= plug.titleize %></span>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class = "plug" style = "display: none">
    <%= image_tag("button_close.gif", :class => 'close', :style => 'display: none') %>
    <%= image_tag("thumb_large_ibm.jpg", :class => 'plug_hero') %>
    <div class = "plug_link_holder" style = "display: none">
      [ <%= link_to('www.ibm.de', 'www.ibm.de') %> ]
    </div>
    <div class = "plug_description_holder">
      <h3>IBM Deutchland</h3>
      <div class = "plug_text" style = "display: none">
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam adipiscing nisl vel mauris. Vivamus fringilla lectus ac purus. Nunc ut orci ut lacus vulputate egestas. Vivamus accumsan, tortor eu porta accumsan, felis mi luctus urna, non faucibus mauris nunc vitae leo. Quisque vulputate tempus leo. In elementum. Vivamus est. In metus diam, vulputate vulputate, faucibus a, lacinia quis, lorem. Duis aliquet, ipsum vel pulvinar imperdiet, orci orci fermentum ipsum, sit amet scelerisque turpis enim in orci. Curabitur arcu sapien, interdum auctor, ultricies sit amet, placerat nec, velit.
  </p>
  <p>
        In hac habitasse platea dictumst. Proin aliquet. Mauris lacinia purus non ante. Mauris ultrices tortor nec metus. Integer mattis imperdiet enim. Proin odio nisi, gravida at, lobortis id, ornare non, felis. Vestibulum egestas.</p>
        <h4>Technologies</h4>
        <ul>
          <li><A href = "#">php</a></li>
          <li>mysql</li>
          <li><a href = "#">javascript</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>