- content_for :head do
  = javascript_include_tag 'plugs'

.plugs_content
  .plug_thumb_wrapper
    .thumb_slider
      - @plugs.each_with_index do |plug, i|
        .thumb_holder{:id => "plug_#{i}", :rel => i}
          = link_to(image_tag(plug.plug_photo.public_filename(:thumb)), '#')
          .large_img{:style => "display: none"}= plug.plug_photo.public_filename
          .plug_title_overlay
            %span{:style => "display: none"}= plug.title
  = image_tag('arrow_top.png', :class => 'row_nav prev_row', :style => 'display: none')
  = image_tag('arrow_bottom.png', :class => 'row_nav next_row', :style => 'display: none')
  - @plugs.each_with_index do |plug, i|
    .plug{:id => "plug_main_#{i}", :style => "display: none"}
      = image_tag("button_close.gif", :class => 'close', :style => 'display: none')
      = image_tag(plug.plug_photo.public_filename, :style => 'display: none')
      .plug_link_holder{:style => "display: none"}
        [ #{link_to(plug.url, 'http://' + plug.url)} ]
      .plug_description_holder
        %h3= plug.title
        - if user_signed_in?
          .admin_links
            = link_to('edit', edit_plug_path(plug))
            \&nbsp;&nbsp;
            \#{link_to('delete', plug_path(plug), :method => :delete, :confirm => 'Are you sure?')}
        .clear
        .plug_text{:style => "display: none"}
          != markdown(plug.description)
- if user_signed_in?
  .new_plug_link= link_to 'New Plug', new_plug_path
